/* Importação de fontes */
@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilos do body */
body {
    margin: 0;
   font-family: "Raleway", serif;
}

/* Estilos da Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 40px;
    color: black;
    border-bottom: 4px solid #000000;
}

.logo-img {
    height: 80px;
    width: 10rem;
}

.logo {
    color: black;
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-around;
    flex-grow: 1;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    font-size: 28px;
    font-family: "Belleza", sans-serif;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.nav-links a:hover {
    color: #F6C43E;
}

.btn {
    font-size: 24px;
    background-color: #F6C43E;
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
}

.btn:hover {
    background-color: rgb(158, 124, 11);
    color: #ffffff;
}


/* ______________________________________________________FIM NAVBAR______________________________________________________________ */

/* ______________________________________________________COMEÇO MAIN_____________________________________________________________ */



.container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.container2 h1{
  letter-spacing: 2px;
}

.coluna {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px; 
}

.coluna p {
    margin: 0;
    font-size: 25px;
    letter-spacing: 2px;
}

.coluna:last-of-type {
    margin-bottom: 20px; /* Adiciona espaço extra antes do content */
}

.coluna2 {
    flex: 1;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.coluna2 h2 {
    font-size: 20px;
    font-family: "Raleway", sans-serif;
}

.coluna2 h3 {
    font-size: 30px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Estilização do contêiner */
.container3 {
    display: inline-block;
    background-color: #F6C43E;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #000000;
    text-align: center;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.container3 h2 {
    font-size: 35px;
    font-weight: 800;
}
.container3 p {
    font-size: 20px;
    font-weight: 800;
}

.container3 label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 20px;
    font-weight: 500;
}

.container3 input,
.container3 textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.container3 button {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 20px;
    border: 2px solid #000000;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

.container3 button:hover{
    background-color: rgb(158, 124, 11);
    color: #ffffff;
}

.container3 button i {
    margin-left: 5px;
}

.content {
    background-color: #F6C43E;
    padding: 25px 0;
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 1.5rem;
}

.content .box {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 250px;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    margin: 10px;
    border-radius: 25px;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}

.content .box h3 {
    font-size: 22px;
   
}

.content .box p {
    font-size: 18px;
}

/* ______________________________________________________FIM MAIN_______________________________________________________________ */

/* ______________________________________________________COMEÇO Rodape__________________________________________________________ */

.footer {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: white;
    padding: 20px;
}

.coluna3 {
    flex: 1;
    margin: 0 10px;
}

.coluna h3 {
    margin-top: 0;
}

.insta {
    color: #ffffff;
    text-decoration: none;
}

/* ______________________________________________________FIM Rodape____________________________________________________________ */

/* Media Queries para responsividade */
/* navbar-hamburg */
.menu-toggle {
    display: none;
    flex-direction: column-reverse;
    cursor: pointer;
}

.bar {
    height: 4px;
    width: 25px;
    background-color: #F6C43E;
    margin: 4px 0;
}

.navbar {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    background-color: #ffffff;
}

/* Fim navbar-hamburg */

/* Estilos responsivos para telas menores */
@media (max-width: 1040px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: #ffffff;
        position: absolute;
        top: 83px;
        left: 0;
        z-index: 999;
    }

    .nav-links.active {
        display: flex;
        flex-direction: column;
    }

    .menu-toggle {
        display: flex;
    }

    .navbar {
        flex-direction: row;
        height: 80px;
    }

    .container3,
    .container {
        flex-direction: column;
        padding: 8px;
        margin-top: 2rem;
    }

    .nav-links a {
        padding: 15px 20px;
        color: #333;
        text-align: center;
        display: block;
    }
}

@media (max-width: 768px) {
    .btn {
        font-size: 20px;
        padding: 8px 12px;
    }

    .footer {
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
    }

    .content {
        flex-direction: column;
        align-items: center;
        background-color: #F6C43E;
        padding: 10px 0;
        gap: 10px; /* Ajuste para reduzir o espaço entre os boxes */
    }

    .content .box {
        width: 150px;
        background-color: white;
        padding: 20px;
        margin: 5px; /* Reduz a margem para melhorar a compactação */
        border-radius: 10px;
        vertical-align: top;
    }
}
